# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
#### -List popular languages for Data Science
#### -Create Tables in Markdown
#### -identify the popular used languages in data science
#### -identify the commomly used libraries in data science

### Some of the popular languages that Data Scientists use are:
#### 1- python
#### 2- java
#### 3- C++
#### 4- swift

### Some of the commonly used libraries used by Data Scientists include:
#### 1-pandas
#### 2-numpy
#### 3-matplotlib
#### 4-seaborn

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python .

In [7]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [8]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
ANAS BACH